In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('./allCountriesCSV.csv', low_memory = False)

In [6]:
data.head

<bound method NDFrame.head of         COUNTRY POSTAL_CODE              CITY STATE SHORT_STATE COUNTY  \
0            AD       AD100           Canillo   NaN         NaN    NaN
1            AD       AD200            Encamp   NaN         NaN    NaN
2            AD       AD300            Ordino   NaN         NaN    NaN
3            AD       AD400        La Massana   NaN         NaN    NaN
4            AD       AD500  Andorra la Vella   NaN         NaN    NaN
...         ...         ...               ...   ...         ...    ...
1429665      ZA        9982          Luckhoff   NaN         NaN    NaN
1429666      ZA        9986     Koffiefontein   NaN         NaN    NaN
1429667      ZA        9986          Luckhoff   NaN         NaN    NaN
1429668      ZA        9987     Koffiefontein   NaN         NaN    NaN
1429669      ZA        9992          Bethulie   NaN         NaN    NaN

        SHORT_COUNTY COMMUNITY SHORT_COMMUNITY  LATITUDE  LONGITUDE  ACCURACY
0                NaN       NaN             NaN   42.5833     1.6667       6.0
1                NaN       NaN             NaN   42.5333     1.6333       6.0
2                NaN       NaN             NaN   42.6000     1.5500       6.0
3                NaN       NaN             NaN   42.5667     1.4833       6.0
4                NaN       NaN             NaN   42.5000     1.5000       6.0
...              ...       ...             ...       ...        ...       ...
1429665          NaN       NaN             NaN  -29.7500    24.7833       4.0
1429666          NaN       NaN             NaN  -29.4000    25.0167       4.0
1429667          NaN       NaN             NaN  -29.4000    25.0167       NaN
1429668          NaN       NaN             NaN  -29.4000    25.0167       4.0
1429669          NaN       NaN             NaN  -30.5333    21.2833       4.0

[1429670 rows x 12 columns]>

In [7]:
data.head()

,COUNTRY,POSTAL_CODE,CITY,STATE,SHORT_STATE,COUNTY,SHORT_COUNTY,COMMUNITY,SHORT_COMMUNITY,LATITUDE,LONGITUDE,ACCURACY
0,AD,AD100,Canillo,NaN,NaN,NaN,NaN,NaN,NaN,42.5833,1.6667,6.0
1,AD,AD200,Encamp,NaN,NaN,NaN,NaN,NaN,NaN,42.5333,1.6333,6.0
2,AD,AD300,Ordino,NaN,NaN,NaN,NaN,NaN,NaN,42.6000,1.5500,6.0
3,AD,AD400,La Massana,NaN,NaN,NaN,NaN,NaN,NaN,42.5667,1.4833,6.0
4,AD,AD500,Andorra la Vella,NaN,NaN,NaN,NaN,NaN,NaN,42.5000,1.5000,6.0

In [8]:
data[data['COUNTRY'] == 'IN']

,COUNTRY,POSTAL_CODE,CITY,STATE,SHORT_STATE,COUNTY,SHORT_COUNTY,COMMUNITY,SHORT_COMMUNITY,LATITUDE,LONGITUDE,ACCURACY
273441,IN,744301,Kakana,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,NaN,9.1167,92.8000,4.0
273442,IN,744301,Sawai,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,NaN,7.5166,93.6031,4.0
273443,IN,744301,Mus,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,NaN,9.2333,92.7833,4.0
273444,IN,744301,Lapathy,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,NaN,9.1833,92.7667,3.0
273445,IN,744301,Carnicobar,Andaman & Nicobar Islands,01,Nicobar,638,Carnicobar,NaN,9.1833,92.7667,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
429006,IN,508224,Patha Suryapet,Telangana,40,Suryapet,696,Arvapally,NaN,17.4019,79.5407,3.0
429007,IN,508224,Thimmapur,Telangana,40,Suryapet,696,Arvapally,NaN,17.4019,79.5407,3.0
429008,IN,508279,Nagaram,Telangana,40,Suryapet,696,NAGARAM,NaN,18.1460,79.2386,4.0
429009,IN,508279,Phanigiri,Telangana,40,Suryapet,696,PHANIGIRI,NaN,18.1460,79.2386,3.0
429010,IN,506345,Palampet,Telangana,40,Jayashankar,NaN,Ghanpur (Mulug),NaN,18.3000,79.9333,4.0

In [13]:
data[(data['POSTAL_CODE'] == '700001') & (data['COUNTRY'] == 'IN')]

,COUNTRY,POSTAL_CODE,CITY,STATE,SHORT_STATE,COUNTY,SHORT_COUNTY,COMMUNITY,SHORT_COMMUNITY,LATITUDE,LONGITUDE,ACCURACY
374740,IN,700001,Customs House,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374741,IN,700001,Council House Street,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374742,IN,700001,Kolkatta G.P.O.,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374743,IN,700001,Pollock Street,West Bengal,28,Kolkata,342,NaN,NaN,22.7101,88.3167,1.0
374744,IN,700001,Writer's Building,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374745,IN,700001,W.B.Assembly House,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374746,IN,700001,Treasury Building,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374747,IN,700001,Telephone Bhawan,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374748,IN,700001,Reserve Bank Building,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374749,IN,700001,Radha Bazar,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374750,IN,700001,R.N. Mukherjee Road,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374751,IN,700001,New Secretariat Bldg.,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374752,IN,700001,Lalbazar (Kolkata),West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0
374753,IN,700001,Khengrapatti,West Bengal,28,Kolkata,342,Kolkata,NaN,22.7101,88.3167,1.0

In [16]:
data.groupby(['COUNTRY', 'POSTAL_CODE']).sum()

                     LATITUDE  LONGITUDE  ACCURACY
COUNTRY POSTAL_CODE
AD      AD100         42.5833     1.6667       6.0
        AD200         42.5333     1.6333       6.0
        AD300         42.6000     1.5500       6.0
        AD400         42.5667     1.4833       6.0
        AD500         42.5000     1.5000       6.0
...                       ...        ...       ...
ZA      9978         -29.7500    25.3167       4.0
        9982         -29.7500    24.7833       4.0
        9986         -58.8000    50.0334       4.0
        9987         -29.4000    25.0167       4.0
        9992         -30.5333    21.2833       4.0

[850983 rows x 3 columns]

In [22]:
var = data.groupby(['COUNTRY', 'POSTAL_CODE'], as_index = False ).first()

In [24]:
var = var[var['COUNTRY'] == 'IN']

In [25]:
var.columns

Index(['COUNTRY', 'POSTAL_CODE', 'CITY', 'STATE', 'SHORT_STATE', 'COUNTY',
       'SHORT_COUNTY', 'COMMUNITY', 'SHORT_COMMUNITY', 'LATITUDE', 'LONGITUDE',
       'ACCURACY'],
      dtype='object')

In [27]:
var = var.drop(['SHORT_STATE', 'SHORT_COUNTY', 'COMMUNITY',  'SHORT_COMMUNITY', 'ACCURACY'], axis = 1)

In [28]:
var

,COUNTRY,POSTAL_CODE,CITY,STATE,COUNTY,LATITUDE,LONGITUDE
97192,IN,110001,New Delhi G.P.O.,Delhi,New Delhi,28.6369,77.2183
97193,IN,110002,Civic Centre,Delhi,New Delhi,28.6453,77.2456
97194,IN,110003,Pandara Road,Delhi,Central Delhi,28.6431,77.2197
97195,IN,110004,Rashtrapati Bhawan,Delhi,Central Delhi,28.6453,77.2128
97196,IN,110005,Bank Street (Central Delhi),Delhi,Central Delhi,28.6551,77.1833
...,...,...,...,...,...,...,...
116425,IN,855113,Kharsouta,Bihar,Katihar,25.5552,87.7954
116426,IN,855114,Kadwa,Bihar,Katihar,25.6447,87.7382
116427,IN,855115,Haldikhora,Bihar,Kishanganj,26.1926,87.7403
116428,IN,855116,Bhawaniganj,Bihar,Kishanganj,26.1128,87.8528
116429,IN,855117,Daluahat,Bihar,Kishanganj,25.6819,87.7734

In [32]:
 var = var.rename({'CITY': 'POST_OFFICE', 'STATE': 'STATE_UT', 'COUNTY': 'REGION'}, axis = 1)

In [33]:
var

,COUNTRY,POSTAL_CODE,POST_OFFICE,STATE_UT,REGION,LATITUDE,LONGITUDE
97192,IN,110001,New Delhi G.P.O.,Delhi,New Delhi,28.6369,77.2183
97193,IN,110002,Civic Centre,Delhi,New Delhi,28.6453,77.2456
97194,IN,110003,Pandara Road,Delhi,Central Delhi,28.6431,77.2197
97195,IN,110004,Rashtrapati Bhawan,Delhi,Central Delhi,28.6453,77.2128
97196,IN,110005,Bank Street (Central Delhi),Delhi,Central Delhi,28.6551,77.1833
...,...,...,...,...,...,...,...
116425,IN,855113,Kharsouta,Bihar,Katihar,25.5552,87.7954
116426,IN,855114,Kadwa,Bihar,Katihar,25.6447,87.7382
116427,IN,855115,Haldikhora,Bihar,Kishanganj,26.1926,87.7403
116428,IN,855116,Bhawaniganj,Bihar,Kishanganj,26.1128,87.8528
116429,IN,855117,Daluahat,Bihar,Kishanganj,25.6819,87.7734

In [34]:
var = var[['POSTAL_CODE', 'REGION', 'STATE_UT', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'POST_OFFICE']]

In [35]:
var

,POSTAL_CODE,REGION,STATE_UT,COUNTRY,LATITUDE,LONGITUDE,POST_OFFICE
97192,110001,New Delhi,Delhi,IN,28.6369,77.2183,New Delhi G.P.O.
97193,110002,New Delhi,Delhi,IN,28.6453,77.2456,Civic Centre
97194,110003,Central Delhi,Delhi,IN,28.6431,77.2197,Pandara Road
97195,110004,Central Delhi,Delhi,IN,28.6453,77.2128,Rashtrapati Bhawan
97196,110005,Central Delhi,Delhi,IN,28.6551,77.1833,Bank Street (Central Delhi)
...,...,...,...,...,...,...,...
116425,855113,Katihar,Bihar,IN,25.5552,87.7954,Kharsouta
116426,855114,Katihar,Bihar,IN,25.6447,87.7382,Kadwa
116427,855115,Kishanganj,Bihar,IN,26.1926,87.7403,Haldikhora
116428,855116,Kishanganj,Bihar,IN,26.1128,87.8528,Bhawaniganj
116429,855117,Kishanganj,Bihar,IN,25.6819,87.7734,Daluahat

In [37]:
 var['COUNTRY'] = 'India'

In [38]:
var

,POSTAL_CODE,REGION,STATE_UT,COUNTRY,LATITUDE,LONGITUDE,POST_OFFICE
97192,110001,New Delhi,Delhi,India,28.6369,77.2183,New Delhi G.P.O.
97193,110002,New Delhi,Delhi,India,28.6453,77.2456,Civic Centre
97194,110003,Central Delhi,Delhi,India,28.6431,77.2197,Pandara Road
97195,110004,Central Delhi,Delhi,India,28.6453,77.2128,Rashtrapati Bhawan
97196,110005,Central Delhi,Delhi,India,28.6551,77.1833,Bank Street (Central Delhi)
...,...,...,...,...,...,...,...
116425,855113,Katihar,Bihar,India,25.5552,87.7954,Kharsouta
116426,855114,Katihar,Bihar,India,25.6447,87.7382,Kadwa
116427,855115,Kishanganj,Bihar,India,26.1926,87.7403,Haldikhora
116428,855116,Kishanganj,Bihar,India,26.1128,87.8528,Bhawaniganj
116429,855117,Kishanganj,Bihar,India,25.6819,87.7734,Daluahat

In [39]:
var.to_csv('zipcode-india-19238.csv')